<%- include('partials/header'); -%>

<div class="container">
    
    <h1 class="mb-5">Debit Transactions</h1>
    <div class="error other"></div>
    
    <a href="/debit/records" ><button class="btn btn-primary">See Debit Transactions</button></a>

    <form method="post" class="addDebitTransaction">
        <table class="table newTransaction-table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Expenditure Type</th>
                    <th scope="col">Other Expenditure Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><input type="date" name="date" required></td>
                    <td>
                      <select name="expenditureType" required>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Snacks">Snacks</option>
                        <option value="Grocery">Grocery</option>
                        <option value="Shake">Shake</option>
                        <option value="Others">Others</option>
                      </select>
                    </td>
                    <td><input type="string" name="otherExpenditureType"></td>
                    <td><input type="number" name="amount" required></td>
                    <td><input type="string" name="remarks"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Add Record</button>
        <div class="acknowledgement"></div>
    </form>
    <div class="acknowledgement"></div>

  
<%- include('partials/footer'); -%>