<%- include('partials/header'); -%>

<div class="container">
  <a href="/debit" class="btn btn-primary mt-3"> Debit Transactions</a>
  <a href="/credit" class="btn btn-primary mt-3"> Credit Transactions</a>
  <a href="/treat" class="btn btn-primary mt-3"> Treat Transactions</a>
</div>


<%- include('partials/footer'); -%>